.tablea {
  background-color: white;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

thead {
  background-color: lightsalmon; }

.submita {
  display: inline-block;
  float: left;
  margin-left: 35%;
}

.submitb {
  display: inline-block;
  float: right;
  margin-right: 35%;
}